@model DogGo.Models.ViewModels.WalkerProfileViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Walker</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.walker.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.walker.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.walker.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.walker.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.walker.NeighborhoodId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.walker.NeighborhoodId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.walker.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            <img class="bg-info" src="@Model.walker.ImageUrl" alt="avatar" />
        </dd>
    </dl>
    <table>
        @foreach (var item in Model.walks)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                

            </tr>
        }
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
